// Generic styles. Keep this file below 300 lines.
html,
body {
    height: auto;
    margin: 0;
    padding: 0;
    zoom: 1;
}


// Recommended css code for vue-svgicon.
.svg-icon {
    color: inherit;
    display: inline-block;
    fill: none;
    height: 1rem;
    stroke: currentColor;
    vertical-align: middle;
    width: 1rem;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-up {transform: rotate(0deg);}
.svg-right {transform: rotate(90deg);}
.svg-down {transform: rotate(180deg);}
.svg-left {transform: rotate(-90deg);}

.spinner {
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

// Use with Bulma tabs.
.tab {
    display: none;
    margin-bottom: $spacer * 2;

    &.is-active {
        display: block;
    }
}
