@import "bulma/sass/utilities/initial-variables";

// Paths.
$font-path: "../fonts";

// Dimensions: spacing units.
$spacer: 8px;

// Colors: Base variable color palette; overriden by vialer-jsrc colors object.
$brand-color: #005a9b !default;
$primary-color: #222 !default;

$grey-color: #999 !default;
$grey-color-darkest: darken($grey-color, 30%);
$grey-color-darker: darken($grey-color, 15%);
$grey-color-dark: darken($grey-color, 5%);
$grey-color-light: lighten($grey-color, 25%);
$grey-color-lighter: lighten($grey-color, 33%);
$grey-color-lightest: lighten($grey-color, 38%);

// Modify some Bulma defaults to match the defined theme.
$primary: $primary-color;
$link: $brand-color;
$family-primary: "Roboto";
