@import "../../scss/lib/variables";

.component-map {

    .widget {
        border: 2px solid #005a9b;
        display: flex;

        .map {
            height: 500px;
            margin: 0;
            width: 600px;
        }
    }

}
