<component class="component-map">
    <div class="widget">
        <div id="app" class="map">
            <v-map :zoom="zoom" :center="center">
                <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
                <v-marker :lat-lng="marker" v-for="marker in markers"></v-marker>
            </v-map>
        </div>

        <Filters/>
    </div>
</component>
