<component class="component-filters">
    <header>
        {{$t('Find a contest')}}
    </header>

    <div class="filters">
        <div class="field">
            <label class="label">
                {{$t('Max. obstacles')}} ({{filter.obstacles.value}})
            </label>
            <p class="control is-expanded">
                <input id="obstacles" :disabled="!filter.obstacles.enabled" v-model="filter.obstacles.value" type="range" min="1" max="120" step="1"/>
            </p>
        </div>

        <div class="field">
            <label class="label">
                {{$t('Min. heavy obstacles')}} ({{filter.heavyObstacles.value}})
            </label>
            <p class="control is-expanded">
                <input id="obstacles" v-model="filter.heavyObstacles.value" type="range" min="1" :max="filter.obstacles.value" step="1"/>
            </p>
        </div>

        <Field name="filter_city" type="select"
            :disabled="!filter.city.enabled"
            :empty="$t('Select a city')"
            :label="$t('Limit to city')" :model.sync="filter.city.value"
            :options="filters.city.options">

            <input slot="select-label-extra" type="checkbox" v-model="filter.city.enabled"/>
        </Field>


    </div>

</component>
