@import "../../scss/lib/variables";

.component-filters {
    border-left: 2px solid #e9510e;

    header {
        background: #e9510e;
        color: $white;
        padding: $spacer;
    }

    .filters {
        background: rgb(254, 254, 254);
        padding: $spacer;
        width: 300px;

        select {
            width: 300px;
        }

        input[type="checkbox"] {
            margin-right: $spacer;
        }

        input[type="range"] {
            width: 100%;
        }

        label {
            color: $brand-color;
            padding: 0 $spacer;
            padding-left: 0;
            text-align: left;
        }

        em {
            text-align: left;
        }

        .filter {
            .title {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}
